html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Nanum Gothic', sans-serif;
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    width: 0;
}

body {
    margin: 0;
    height: 100%;
}


.header-menu ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}


.header-menu ul li {
    display: inline-flex;
    padding: 30px;
    font-size: 20px;
}

.header-menu ul li:first-child {
    display: inline-flex;
    padding: 30px;
    font-size: 20px;
    margin-right: auto;
}

.header-menu ul li a {
    color: black;
    text-decoration: none;
}


.page-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 60px;
}



table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgb(29, 28, 35);
}
.tbl-content{
    height:400px;
    overflow-x:auto;
    margin-top: 0;
    border: 1px solid rgba(255,255,255,0.3);
    color: black;
}
th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;

}
td{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}



::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


.footer {
    display: flex;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}

